# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE files
.vscode/
.idea/

# Environment-specific files
*.env
.env/

# Ignore files
file.json

# Ignore other folder
other/
testing/
