body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Nueue", Helvetica, Arial, sans-serif;

    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    width: 100%;
    max-width: 1000px;

    margin: 30px auto;
}
