.filters {
    height: 70px;
    width: 100%;

    background-color: white;

    border: 1px solid #DDDDDD;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters button {
    height: 48px;
    width: 20%;

    font-size: 18px;
    color: #FFFFFF;

    background-color: #ff5a5f;

    border: none;
    border-radius: 4px;
    margin-right: 30px;

    cursor: pointer;
}

.filters button:hover {
    opacity: 90%;
}

.filters .locations,
.filters .amenities {
    width: 25%;
    height: 100%;

    padding-left: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    z-index: 1;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters .amenities {
    margin-right: auto;
}

.filters>div>h3 {
    font-weight: 600;
}

.filters>div>h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    background-color: #FAFAFA;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22.5px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.popover h2 {
    font-size: 16px;
}

.popover ul {
    margin-bottom: 3px;
}

.popover ul li {
    padding-left: 20px;
}

.popover li:not(:first-child) h2 {
    margin-top: 4px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}
