.places {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 10px;
}

.places h1 {
    width: 100%;

    font-size: 30px;
    font-weight: bold;

    padding-left: 25px;
    padding-top: 20px;
}

.places article {
    width: 390px;

    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5a5F;
    border-radius: 4px;

    text-align: center;
}

.places article h2 {
    font-size: 30px;
    font-weight: bold;
}
